.application-actions {
    margin-top: 20px;
    padding-top: 15px;

    border-top: 1px solid #dee2e6;

    text-align: center;
     display: inline-flex;
     
     width: fit-content;
     justify-content: center;
      flex-wrap: wrap;
      margin: auto;
}

.application-actions button {
    font-weight: 600;
}



.applications-list {
    width: 100%;
    display: flex;
    
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}


/* Individual application */

.application-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    margin-bottom: 12px;
    overflow: hidden;
   width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
     display: flex;
    flex-direction: column;
     max-width: 100%;
}


/* Top clickable section */

.application-header {
   min-width: fit-content;
    border: none;
    background: none;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    text-align: center;
    cursor: pointer;

    min-width: 0;
}


/* Job title + company */

.application-main-info {
     display: flex;
    flex-direction: column;
    

    width: fit-content;
    align-self: center;
}

.application-label {
    display: block;

    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;

    color: #6c757d;
    margin-bottom: 3px;
}

.application-title {
    font-size: 1.25rem;
    font-weight: 600;

    margin: 0;
     overflow-wrap: anywhere;
}

.application-company {
    margin: 0;

    font-size: 1rem;
    color: #495057;
    
}


/* Chevron */

.application-chevron {
    font-size: 1.2rem;

    transition: transform 0.25s ease;
}


.application-details {
    max-height: 0;
    overflow: hidden;

    padding: 0 20px;

    transition:
        max-height 0.3s ease,
        padding 0.3s ease;

    border-top: 0 solid #dee2e6;
}
.applicationoptionsdiv{
   

}



.application-card.active .application-details {
    max-height: 500px;

    padding: 20px;

    border-top: 1px solid #dee2e6;
}


.application-card.active .application-chevron {
    transform: rotate(180deg);
}



.application-detail {
    margin-bottom: 18px;
}

.application-detail:last-child {
    margin-bottom: 0;
}

.application-detail p {
    margin: 5px 0 0;

    color: #495057;
    line-height: 1.5;
}

/* application progress*/
.job_extra_adder{
     width: 66.666%;
    max-width: 900px;

    border-radius: 15px;
    padding: 30px;

    margin-left: auto;
    margin-right: auto;
}