.hidden{
    display: none;
}
header{
   
    margin: auto;
}

body{

height: 100vh;

  
}

.job_tracker_portal {
    width: 66.666%;
    max-width: 900px;

    border-radius: 15px;
    padding: 30px;

    margin-left: auto;
    margin-right: auto;
}


/* Header */

.add-job-header {
    margin-bottom: 30px;
}

.add-job-icon {
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
}

.add-job-header h1 {
    margin-bottom: 5px;
}


/* Form */

.add-job-form {
    max-width: 750px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* Individual fields */

.form-group {
    text-align: left;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group label i {
    margin-right: 5px;
}
.job_list {
    width: 66.666%;
    max-width: 900px;

    border-radius: 15px;
    padding: 30px;

    margin-left: auto;
    margin-right: auto;
}


/* Make date and description full width */

.form-group:nth-child(3),
.form-group:nth-child(4) {
    grid-column: 1 / -1;
}


/* Description */

#companydescription {
    resize: vertical;
    min-height: 120px;
}


/* Submit */

.add-job-button {
    padding: 10px 25px;
    font-weight: 600;
}

.add-job-button i {
    margin-right: 5px;
}



footer{
color: gray;
}










/* settings css */




/* chages for statitits*/



/* Header */

.tracker-header {
    margin-bottom: 30px;
}

.tracker-icon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.tracker-header h1 {
    margin-bottom: 5px;
}


/* Stats grid */


main {
    margin-left: 70px;
    min-height: 100vh;
    padding: 1px 20px;
}
